
.main-area{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 0px;
}

.main-area p{
    font-family: sans-serif;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 5px solid lightblue;
    border-top-color: white; */
    
}

.footer{
    background-color: white;
    text-align: center;
    bottom:0;
    width:100%;
    height: 100px;
    margin:0;
    width: 100%;
    text-align: center;
}
.footer footer{
    color: rgb(37, 125, 132);
    font-weight:bold;
}

.main-area #home-page-title{
    font-size: 50px;
    color:rgb(84, 199, 199);
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    margin-top: 10;
}


#logo {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    background-color: rgb(37, 125, 132);
    min-height: 100vh;
    overflow-y: scroll;
    transition: 0.5s;
}

.dropdown{
    padding: 15px 30px;
    font-size: 16px;
}

.dropdown option{

}

.rightbar{
    position: fixed;
    top:0;
    right: 0;
    width: 20px;
    height: 100%;
    background-color: rgb(37, 125, 132);
}

.sidebar-button {
      position: fixed;
      top: 30px;
      left: 5px;
      cursor: pointer;
      border-radius: 100%;
      border:0px solid rgb(37, 125, 132);
      /* border-color: rgb(37, 125, 132); */
      background-color: rgb(37, 125, 132);
      color: rgb(37, 125, 132);
      padding: 17px 0px;
      font-size: 16px;
      transition: 0.5s;
}

.box-button{
    background-color: rgb(84, 199, 199) ;
	color: black;
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 10px;
    width:100%;
}

 .extra-button { /*outside of the boxes */
    margin-top: 10px;
    margin-bottom: 20px;
    padding:20px 25px;
    background-color: rgb(37, 125, 132);
    border: 2px solid white;
    display: inline;
    color: white;
    width:auto;
    font-size: 20px;
    cursor:pointer;
}

.extra-button:hover { 
    background-color: rgb(46, 156, 164);
}

.sidebar-button:hover{
      border:2px solid black;
      background-color: rgb(66, 143, 149);
      color: rgb(66, 143, 149);
      padding: 20px 3px;
      transition: 0.5s;
}

.sidebar li a{
    text-align: center;
    font-size: 30;
    list-style-type: none;
    text-decoration: none;
    color: rgb(17, 17, 17);
    padding-left: 0px;
    margin-left: 0px;
    border-color: black;
    margin-top: 100;
}

.sidebar li a:hover{
    text-align: center;
    font-size: 30;
    list-style-type: none;
    text-decoration: underline;
    color: rgb(17, 17, 17);
    padding-left: 0px;
    margin-left: 0px;
    border-color: black;
}

.sidebar ul {
    list-style-type: none;
  }

  .title-style{
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
    font-family: Times New Roman;
  }




.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 80px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    margin:0;
    border: 1px solid black;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;
    border: 2px solid black;
}

.notification-button {
    background-color: white;
    cursor: pointer;
    border: 3px solid rgb(37, 125, 132);
    border-radius: 20%;
    font-family: sans-serif;
    padding: 20px 30px;
    font-size: 20;
    font-weight: bold;
    margin-right: 50px;
    float:right;
    transition: 0.5s;
}

.notification-button:hover {
    border-radius: 30%;
    padding: 23px 33px;
    font-size: 20;
    font-weight: bold;
    margin-right: 50px;
    float:right;
    transition: 0.5s;
}



