
.main-area{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 100px;
    margin-bottom: 0px;
}

.main-area p{
    font-family: sans-serif;
}

.redirect-button{
    margin-top: 10px;
    margin-bottom: 20px;
    padding:10px 10px;
    background-color: rgb(73, 171, 171);
    border: 2px solid white;
    display: inline;
    color: white;
    width: 200px;
    font-size: 20px;
    cursor:pointer;
    text-align: center;
    align-content: center;
    border-radius: 10px;
}

.redirect-button:hover{
    background-color: rgb(99, 210, 210);

}


body{
    background-color: #f0f0f0;
    font-family: sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #f0f0f0;
    border-bottom: 2px solid rgb(37, 125, 132);

    display: flex;
    text-align: center;;

    
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #f0f0f0;

    display: flex;
    text-align: center;;

    
}

.logo-container{
    max-width: 500px;
    max-height: 500px;
}
.logo {
    /* display:inline-block; */
    /* max-width: 500px;
    max-height: 500px; */
  }

.footer{
    background-color: #f0f0f0;
    text-align: center;
    bottom:0;
    width:100%;
    height:300px;
    max-height: 400px;
    margin:0;
    width: 100%;
    text-align: center;
}
.footer footer{
    color: rgb(37, 125, 132);
    font-weight:bold;
}

.main-area #home-page-title{
    font-size: 50px;
    color:black;
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    margin-top: 10;
}


#logo {
    /* width: 150px;
    height: 100px; */
    margin-top:15px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}

#flower{
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

#logout{
    width:30px;
    height:30px;
    margin:0 auto;
    margin-top:4px;
    margin-left:4px;
}

#bell{
    width:40px;
    height:40px;
    margin:0 auto;
    margin-top:4px;
  }

  #menu-logo{
    width:25px;
    height:25px;
    margin:0 auto;
    margin-top:4px;
  }

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 45px;
    background-color: rgb(37, 125, 132);
    min-height: 100vh;
    overflow-y: scroll;
    transition: 0.5s;
}

.logout-button{
    background-color: white;
    cursor: pointer;
    border: 3px solid rgb(37, 125, 132);
    border-radius: 100%;
    font-family: sans-serif;
    width: 60px;
    height: 60px;
    font-size: 20;
    font-weight: bold;
    transition: 0.5s;
    display:inline-block;
    text-align: center;

    float:right;
    margin-right:120px;
    margin-top: 20px;
}

.logout-button:hover{
    width: 65px;
    height: 65px;
    transition: 0.5s;
}

.filter{
    padding: 7px 12px;
    font-size: 16px;
    text-align: center;
    border: 2px solid black;
    margin-right: 700px;
}

.filter-label{
    color: black;
    font-weight: bold; 
    font-family: sans-serif;
    font-size: 16px;
}

.rightbar{
    position: fixed;
    top:0;
    right: 0;
    width: 45px;
    height: 100%;
    background-color: rgb(37, 125, 132);
}

.sidebar-button {
    text-align: center;
      position: fixed;
      top: 0px;
      left: 23px;
      cursor: pointer;
      border-radius: 100%;
      border:0px solid rgb(37, 125, 132);
      border-color: rgb(37, 125, 132);
      background-color: rgb(37, 125, 132);
      color: rgb(37, 125, 132);
      /* padding: 50px 50px; */
      font-size: 16px;
      transition: 0.5s;
      width:50px;
      height:50px;
}

.box-button{
    background-color: rgb(84, 199, 199) ;
	color: black;
	border: none;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 10px;
    padding: 10px 20px;
    width:100%;
}

.box-button:hover{
    background-color: rgb(37, 125, 132);
}

 .extra-button { /*outside of the boxes */
    margin-top: 10px;
    margin-bottom: 20px;
    padding:20px 25px;
    background-color: rgb(37, 125, 132);
    border: 2px solid white;
    display: inline;
    color: white;
    width: 250px;
    font-size: 20px;
    cursor:pointer;
    text-align: center;
    align-content: center;
    border-radius: 10px;
}

.extra-button:hover { 
    background-color: rgb(46, 156, 164);
}

.cancel-button{
    margin-top: 10px;
    margin-bottom: 20px;
    padding:10px 15px;
    background-color: rgb(201, 44, 44);
    border: 2px solid white;
    display: inline;
    color: white;
    width: 250px;
    font-size: 20px;
    cursor:pointer;
    text-align: center;
    align-content: center;
    border-radius: 10px;
}

.cancel-button:hover{
    background-color: rgb(171, 37, 37);
    
}

.sidebar-button:hover{
      background-color: rgb(66, 143, 149);
      color: rgb(66, 143, 149);
      transition: 0.5s;
}

.sidebar li a{
    text-align: center;
    font-size: 30;
    font-family: sans-serif;
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding-left: 0px;
    margin-left: 12px;
    border-color: black;
    margin-top: 100;
}

.sidebar li a:hover{
    text-align: center;
    font-size: 30;
    list-style-type: none;
    text-decoration: underline;
    color: rgb(17, 17, 17);
    padding-left: 0px;
    margin-left: 14px;
    border-color: black;
}

.sidebar ul {
    list-style-type: none;
  }

  .title-style{
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
    font-family: Times New Roman;
  }




.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none; 
    position: absolute;
    background-color: white;
    min-width: 40px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    /* position:relative; */
    top:0;
    left:0;
    margin-left:120;
    margin-top:60;

}

.dropdown-content a {
    color: black;
    padding: 10px;
    margin:0;
    border: 3px solid rgb(73, 148, 73);
    text-decoration: none;
    display: block;
    font-family: sans-serif;
    text-align: left;
}

.dropdown-content a:hover {
    font-weight: bold;
}

.dropdown:hover .dropdown-content {
    display: block;

    position: absolute;
    top: 85px;
    left: 100px;
    width: 400px;
    z-index: 100;
}

.notification-button {
    background-color: white;
    cursor: pointer;
    border: 3px solid rgb(37, 125, 132);
    border-radius: 100%;
    font-family: sans-serif;
    font-size: 20;
    font-weight: bold;
    transition: 0.5s;
    display:inline-block;
    width: 60px;
    height: 60px;

    float:left;
    margin-left:120px;
    margin-top:20px;
}

.notification-button:hover {
    width: 65px;
    height: 65px;
    transition: 0.5s;
}

.grey-container {
    width: 500px;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 60px;
    text-align: center;
    border: 1px solid #cecdcd;
    border-bottom: 0;
  }
  
  .grey-container input {
    width: 55%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }

  .grey-container button {
    width: 120px;
    padding:10px 15px;
    height: 50px;
    font-size: 18px;
    text-align: center;
  }

  .issue-box{
    width: 300px;
    height: 200px;
  }


